.basket-card {
  background-color: #3b3a3a;
  width: 70%;
  margin: 2rem auto auto auto;
  padding: 1.875rem;
  border-radius: 20px;
}

.basket-container {
  display: flex;
  align-items: center;
  gap: 6.25rem;
  position: relative;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(122, 125, 127);
}

.product-image {
  display: flex;
  width: 12.5rem;
}

.product-image img {
  width: 13.125rem;
}

.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-info p {
  color: #fff;
  margin-left: 10px;
  font-size: 1.563rem;
  font-weight: bold;
  text-transform: uppercase;
}

.product-ar {
  display: flex;
}

.product-amount {
  font-size: 1.875rem;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
}

.product-price {
  color: rgb(225, 218, 218) !important;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}

.increaseBtn {
  color: rgb(41, 155, 41);
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 40px;
  transition: color 0.1s ease-in-out;
}

.increaseBtn:hover {
  color: rgb(39, 104, 39);
  text-decoration: none;
}

.decreaseBtn {
  color: #ff0000;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 2.5rem;
  transition: color 0.1s ease-in-out;
}

.decreaseBtn:hover {
  color: #cb2e2e;
}

.removeBtn {
  color: red;
  position: absolute;
  right: 0px;
  top: 10px;
  font-size: 1.875rem;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  color: #fff;
}

.total span:nth-child(1) {
  background: #ff0000;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.total span:nth-child(1):hover {
  background: #980606;
}

.total span:nth-child(2) {
  margin-top: 1.25rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.warning {
  color: #fff;
  font-size: 2.3rem;
  text-align: center;
}

@media (max-width: 511px) {
  .warning {
    font-size: 1.875rem;
  }
}
