.container {
  position: relative;
}

.card {
  background: #232323;
  width: 310px;
  height: 450px;
  position: relative;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.card:before {
  content: "";
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.card:after {
  content: "";
  position: absolute;
  top: 30%;
  left: -20%;
  color: rgba(255, 255, 25, 0.05);
  font: 12em 800 italic;
}

.container .card .image {
  position: absolute;
  top: 50%;
  z-index: 10000;
  width: 100%;
  height: 220px;
  transform: translateY(-50%);
  transition: 0.5s;
}

.card:hover .image {
  top: 0%;
  transform: translateY(0%);
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  transform: translate(-50%, -50%) rotate(-25deg);
}

.content {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  text-align: center;
  transition: 1s;
}

.card:hover .content {
  height: 210px;
}

.card .content h2 {
  position: relative;
  margin: 1rem 0 0 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.size,
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 8px 20px;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.card:hover .content .size {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
}

.card:hover .content .price {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.6s;
}

.size h3 {
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.size span {
  background: #fff;
  color: #111;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 5px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.size span:hover {
  background: #9bdc28;
}

.price h3 {
  color: #fff;
  font-size: 20px;
}

.content button {
  background: #409513;
  color: #fff;
  display: inline-block;
  margin-top: 0;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.card:hover .content button {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
