/* Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
